*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    width: 100%;
    height: 100vh;
    /* Preenche a tela - vh*/
    background-color: brown;
    display: flex;
    justify-content: center;
}

#feed{
    width: 30%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.postUsuario{
    margin: 20%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.fotoUsuario{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}

.posts{
    width: 80%;
    background-color: rgb(238, 40, 40);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
}

.fotoUsuario1 img{
    width: 100%;
    height: 100%;
}



@media screen and (max-width: 900px) {
    #feed{
        width: 100%;
    }
}