*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(14, 5, 22);
    color: white;
}

main{
    display: flex;
    justify-content: space-between;
}

nav{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

nav a{
    gap: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

#butaoDeTwittar{
    width: 200px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    border-right: 1px solid rgb(56, 56, 56);
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
aside{
    display: flex;
}
#lado_esquerdo{
    width: 25%;
    height: 100vh;
}
#lado_esquerdo div{
    margin: 30px 30px 0px 120px;
}











#meio{
    width: 50%;
}












#lado_direito{
    width: 25%;
    height: 100vh;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
#lado_direito div{
    background-color: rgba(98, 102, 107, 0.616);
    width: 90%;
    border-radius: 20px;
}


#pesquisa{
    padding: 10px 20px;
    gap: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    color: rgba(135, 142, 148, 0.733);
}

#treads{
    padding: 10px 0px;

}
#treads section{
    padding: 10px;
    border-bottom: 1px solid rgb(214, 219, 219);
}

#treads section h1{
    font-size: 20px;
}
#treads section p{
    font-size: 15px;
    color: rgb(202, 199, 199);
}

.miniPoster{
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgb(100, 100, 96);
    margin: 10px 0px;
}
.miniPoster b{
    display: flex;
    
}