*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Parte do lado esquerdo */

header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

#icone{
    width: 60px;
    height: 60px;
    margin-left: 80px;
    margin-top: 20px;
}


nav{
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
    margin-left: 80px;
}

nav a{
    color: white;
    font-size: 25px;
    font-weight: 700;
}

#butaoDeTwittar{
    width: 200px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    border-right: 1px solid rgb(56, 56, 56);
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}